.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
	position: relative;
	background-color: #f2f2f2;
	display: flex;
	justify-content: left;
	align-items: center;
	overflow: hidden;
	margin: 0 auto 100px;
  /* выше установили ограничения для секции */
}