.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
	position: relative;
	background-color: #f2f2f2;
	display: flex;
	justify-content: left;
	align-items: center;
  /* выше установили ограничения для секции */
}

.logo {
	min-width: 228px;
	min-height: 32px;
}

.logo_place_header {
	position: absolute;
	top: 30px;
	left: 64px;
}

.header__title {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 64px;
	max-width: 730px;
	width: 100%;
	line-height: 96px;
	font-weight: 600;
	font-size: 102px;
	display: flex;
} 

.header__main-illustration {
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: 0;
	max-width: 765px;
	max-height: 608px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
	position: absolute;
	top: 64px;
	right: 0;
	z-index: 0;
	background-color: #2F80ED;
}

.header__subtitle {
	margin-top: 0;
	margin-bottom: 0;
	position: absolute;
	left: 64px;
	bottom: 30px;
	max-width: 388px;
	width: 100%;
	line-height: 25px;
	font-size: 18px;
	font-weight: normal;
}

.header__link {
	color: #2f80ed;
	text-decoration: none;
}

.two-columns {
	width: 80%;
	display: flex;
	margin: 100px auto 100px;
	justify-content: space-between;
}

.two-columns__brief {
	margin-top: 0;
	max-width: 175px;
	width: 100%;
	color: #2F80ED;
	line-height: 1.2;
	font-size: 18px;
	font-weight: normal;
}

.two-columns__main-text {
	margin-top: 0;
	width: 80%;
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
}

.two-columns__span-accent {
	line-height: 34px;
	font-size: 24px;
	font-weight: 600;
}

.two-columns__paragraph {
	margin-top: 0;
	margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
	margin-bottom: 0;
}

.section-title {
	max-width: 60%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	line-height: 1.15;
	font-size: 60px;
	font-weight: 600;
}

.section-subtitle {
	text-align: center;
	max-width: 60%;
	width: 100%;
	margin: 20px auto 0;
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
}

.table {
	width: 1100px;
	margin: 0 auto 100px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.table__cell {
	width: 250px;
	margin-top: 60px;
	list-style: none;
}

.table__heading {
	margin: 0;
	line-height: 1.15;
	font-size: 24px;
	font-weight: 600;
}

.table__text {
	margin-top: 20px;
	margin-bottom: 0;
	line-height: 1.2;
	font-size: 18px;
	font-weight: normal;
}

.feynman {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 890px;
	background-color: #f2f2f2;
}

.feynman__title {
	max-width: 648px;
	width: 100%;
	margin: 100px auto 0;
	text-align: center;
	line-height: 1.15;
	font-size: 120px;
	font-weight: 600;
	z-index: 0;
}

.feynman__subtitle {
	text-align: center;
	margin: 70px auto 0;
	line-height: 51px;
	font-size: 36px;
	font-weight: normal;
	z-index: 0;
}

.feynman__image {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 867px;
	height: 637px;
}

.feynman__link {
	position: absolute;
	top: 50%;
	right: 48px;
	color: #2f80ed;
	line-height: 51px;
	font-size: 36px;
	font-weight: normal;
	text-decoration: none;
}

.kaufman {
	background-color: #1f1f1f;
	padding-top: 90px;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}

.section-title_theme_dark {
	color: white;
	width: 60%;
	margin: 0 auto 0;
	text-align: center;
	line-height: 1.15;
	font-size: 60px;
	font-weight: 600;
}

.section-subtitle_theme_dark {
	color: white;
	width: 60%;
	text-align: center;
	margin: 20px auto 0;
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
	margin-top: 80px;
	list-style: none;
}

.table__heading_theme_dark {
	margin: 0;
line-height: 1.15;
font-size: 24px;
font-weight: 600;
}

.table__text_theme_dark {
	line-height: 1.2;
	font-size: 18px;
	font-weight: normal;
}

.table_theme_dark {
	margin-bottom: 90px;
	z-index: 1;
}

.kaufman__triangle {
	background-image: url("../images/kaufman-triangle.svg");
	position: absolute;
	right: -210px;
	top: 0;
	min-width: 877px;
	min-height: 877px;
	z-index: 0;
}

.footer {
	background-color: #1f1f1f;
	min-height: 350px;
	display: flex;
	position: relative;
}

.footer__columns {
	width: 90%;
	margin: 60px auto 40px;
	display: flex;
	position: relative;
	justify-content: space-between;
}

.footer__column_content_copyright {
	flex-basis: 711px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer__column_content_info {
	display: flex;
	flex-direction: column;
}

.logo_place-footer {
	max-width: 228px;
	max-height: 32px;
}

.footer__author {
	color: white;
	min-width: 210px;
	margin-top: 18px;
	margin-bottom: 18px;
	line-height: 25px;
	font-size: 18px;
	font-weight: normal;
}

.footer__column-heading {
	color: white;
	margin: 0;
	line-height: 30px;
	font-size: 18px;
	font-weight: 600;
}

.footer__column-links {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	justify-content: space-between;
	padding-bottom: 16px;
}

.footer__column-link {
	display: flex;
	flex-direction: row;
	color: white;
	text-decoration: none;
	line-height: 30px;
	font-size: 18px;
	font-weight: normal;
}

.footer__social-icon {
	margin-right: 10px;
}